@font-face {
    font-family: seven-segment;
    src: url(./src/font/Seven\ Segment.ttf);
}

body {
    margin: 0;
    background-color: rgb(2, 29, 65);
    color: whitesmoke;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 48px;
    margin: 20px 0 5px;
}

#scoreboard-bg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.score-bg {
    width: 200px;
    height: 150px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: seven-segment;
    font-size: 70px;
    border-radius: 5px;
    color: hsl(0, 100%, 66%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-btn {
    margin-top: 20px;
}

.score-btn button {
    font-family: seven-segment;
    font-size: 24px;
    padding: 10px;
    width: 55px;
    height: 50px;
    letter-spacing: 3px;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(5, 44, 95);
}
button:active {
    scale: 0.95;
    transition-duration: 0.1s;
}

#new-game-btn {
    display: block;
    margin: 100px auto;
    padding: 5px;
    letter-spacing: 3px;
    background-color: whitesmoke;
    color: rgb(5, 44, 95);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-family: seven-segment;
    font-size: 24px;
    font-weight: bolder;
}

#leader {
    box-shadow: 0px 0px 20px goldenrod;
}